= simple_fields_for 'profile[profile_countries_attributes][]', profile_country do |pc|
  = pc.country_select :country, locale: 'en', priority_countries: ['JP'],iso_codes: true, format: :with_alpha2, class: 'country_select_tag'