| 以下の文章を長押しでコピーしてFBメッセンジャーにペーストし、ゲストに送信してください。
br
br
| 本日はありがとうございました。良かったら以下のURLからアクセスして今日のガイドについてのレビューをお願いします。
br
= link_to listing_unscheduled_tour_reviews_url(@listing, @unscheduled_tour), listing_unscheduled_tour_reviews_path(@listing, @unscheduled_tour)
