/* main.sass */

.hero-wrapper
  position: relative
  height: 500px
  @media (max-width: 767px)
    height: 300px

#hero
  position: absolute
  right: 0
  left: 0
  top: 0
  bottom: 0
  overflow: hidden
  z-index: -1

.hero-contents
  position: relative
  top: 50px
  width: 100%
  height: 550px
  @media (max-width: 767px)
    top: 0
    height: 300px

.va-container
  display: table
  position: relative

.va-container-wh
  width: 100%
  height: 100%

.hero-inner
  display: table-cell
  vertical-align: middle
  padding-bottom: 102px
  @media (max-width: 767px)
    padding-bottom: 0

#subtitle
  b
    margin-right: 10px
    text-decoration: underline

.search--sp
  display: none

.fake-search-field
  background-color: #fff

.arrow--sp
  display: block
  position: absolute
  left: 0
  right: 0
  text-align: center
  text-decoration: none

.hero-search
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 30px 0
  background: rgba(0, 0, 0, 0.6)

.hero-searchForm
  .search-form-wrapper
    position: relative
    display: inline-block
    > div
      position: relative
      display: inline-block
      vertical-align: bottom
      &.location-wrapper
        margin-right: -5px
      &.date-wrapper
        margin-right: -5px
      input, select
        height: 44px

.location-width
  width: 290px

#date
  width: 130px

.location
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.date-wrapper .checkin, #guests
  border-radius: 0

.checkin
  height: 38px

#culc-container
  display: none

#submit_location
  display: inline
  height: 44px
  vertical-align: bottom
  border-top-left-radius: 0
  border-bottom-left-radius: 0

.top-contents
  padding: 100px 0

/* guest-overview */
.difference-container
  height: 344px
  @media (max-width: 1099px) and (min-width: 768px)
    height: 270px
  .va-middle
    padding-left: 40px
    padding-right: 15px
    .h3
      line-height: 1.44
    .btn-host
      display: block
    @media (max-width: 1099px) and (min-width: 768px)
      padding-left: 25px
      padding-right: 0
      .h3
        font-size: 18px
      .btn-host
        font-size: 12px
        padding: 9px 21px
    @media (max-width: 767px)
      padding: 0
      .h3
        color: white

.guest-overview-cover
  background-image: image-url('photo/tomodachi_guide_1280x620.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

//.guest-overview-image
  position: relative
  height: 344px
  background-image: image-url('sample/top-slider/slider-03-guide.jpg')
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
  @media (max-width: 1099px) and (min-width: 768px)
    height: 270px

/* discovery */
.discovery-section
  @media (max-width: 767px)
    overflow: hidden

.discovery-card
  position: relative
  height: 358px
  background-color: $bg1
  background-size: cover
  background-position: center
  border-radius: 4px
  a:hover
    text-decoration: none
  .va-container
    background-color: rgba(0, 0, 0, 0.15)
    .h2
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)

/* charmer */
.charmer
  position: relative
  overflow: hidden
  .carousel-inner
    .item
      height: 400px
      vertical-align: middle
      background-image: image-url('sample/pic/sample1400x600.jpg')
      background-position: center center
      background-size: cover
      &.item2
        background-image: image-url('sample/pic/sample1400x600_2.jpg')
      &.item3
        background-image: image-url('sample/pic/sample1400x600_3.jpg')
      &:after
        display: block
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .125)
        z-index: 0
      h3
        position: relative
        color: white
        text-align: center
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
        z-index: 10
        span
          display: block
          font-size: 32px
  @media (max-width: 767px)
    display: none

.carousel-control
  .fa
    display: block
    position: absolute
    top: 50%
    left: 50%
    width: 30px
    height: 30px
    line-height: 30px
    margin-top: -15px
    margin-left: -15px
    font-size: 38px
    text-align: center
  .right
    .fa
      margin-right: -10px

/* btn more */
.btn.btn-more
  position: relative
  min-width: 280px
  background: transparent
  .fa
    position: absolute
    top: 9px
    right: 10px
    font-size: 20px

/* pickup
 ================================================== */
.pickup

.pickup-hero
  position: relative
  height: 320px
  @media (max-width: 767px)
    height: 220px

.other-pickup-links
  max-width: 580px
  margin-left: auto
  margin-right: auto
  .tag
    height: 32px
    line-height: 30px
    padding: 0 10px
    margin: 0 10px 10px
    font-size: 16px
    .fa
      margin-left: 7px

/* sign up
 ================================================== */
.remember-me
  float: left
  padding: 0

/* wishlists
 ================================================== */
.wishlists-header
  .media
    .media-photo
      width: 50px
      height: 50px
      img
        width: 46px
        height: 46px

.wishlist-unit
  display: block
  height: 320px

.users.show
  .wishlist-unit
    height: 234px

.wishlist-bg-img
  background-size: cover
  background-position: center

.share-triggers
  margin-right: -8px

.share-btn
  display: inline-block
  min-width: 16px
  margin-right: 14px
  .fa
    font-size: 22px

.view-btn-group
  margin-left: 20px

.wishlist-header-text
  display: table
  height: 50px
  min-height: 50px
  @media (max-width: 767px)
    text-align: center
    height: auto
    min-height: 1px

.results-list
  .note-container
    .add-note
      opacity: 0
      transition: all ease-in-out 200ms
      &.show
        opacity: 1 !important
  img.img-round
    width: 28px
    height: 28px
  @media (max-width: 767px)
    > li
      padding-top: 10px
      border-top: 1px solid $border1

.listing_slideshow_thumb_view
  position: relative
  float: left

.listing-slideshow
  position: relative
  width: 218px
  height: 144px
  img
    position: absolute
    width: 218px
    height: 144px

.photo-paginate
  display: block
  position: absolute
  top: 0
  height: 100%
  z-index: 100
  i
    display: block
    position: absolute
    top: 58px
    width: 16px
    height: 32px
    color: white
    font-size: 24px
    opacity: 0
    transition: opacity ease-in-out 100ms
  &.next
    width: 60%
    right: 0
    i
      right: 10px
  &.prev
    width: 40%
    left: 0
    i
      left: 10px
  &:hover
    i
      opacity: 1 !important

.results-map
  min-height: 400px

.show_view
  .results-list
    display: block
  .results-map
    display: none
  &.map_view
    .results-list
      display: none
    .results-map
      display: block

.social-share-widget-container
  @media (max-width: 1100px)
    margin: 20px 0
  @media (max-width: 767px)
    margin: 10px 0 0

.wish_list_button_container
  display: none
  @media (max-width: 1100px)
    display: block !important
    float: left !important
    margin: -34px 0 0 42px

#wishlist-edit-privacy-setting
  @media (max-width: 1100px)
    margin-bottom: 20px

.listing-criteria-header
  text-align: center
  .listing-criteria-header-message
    a, .favorite-listing
      display: block
      .fa
        font-size: 22px
        margin: 0 0 0 0
    .favorite-listing
      color: $pink1
  @media (max-width: 1100px)
    margin: 15px 0 0

a.delete
  @media (max-width: 1100px)
    width: 100%
    margin-top: 10px

.question-icon-container
  margin-top: 5px
  line-height:  29px
  &.inline
    display: inline-block
    margin: 0 0 0 8px
    line-height: 20px
    vertical-align: middle
  .fa
    width: 22px
    color: $gray1
    font-size: 20px

/* photos
 ================================================== */

.cover-img-container
  display: inline
  .cover-img
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 50%
    background-color: $bg1
#photos
  position: relative
  width: 100%
  height: 402px
  transition: height 0.2s
  .fa-angle-left, .fa-angle-right
    position: absolute
    top: 50%
    left: 20px
    margin-top: -36px
    color: rgba(255, 255, 255, .75)
    font-size: 72px
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.15)
    @media (max-width: 767px)
      margin-top: -18px
      font-size: 36px
  .fa-angle-right
    left: auto
    right: 20px
  .photo-chevron
    position: absolute
    top: 0
    width: 75px
    height: 100%
    background: none
    border: 0
    color: white
    font-size: 100px
    outline: none
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
    opacity: 0.8
    transition: opacity 0.2s
    z-index: 10
    &:hover
      opacity: 1
    &.left
      left: 0
    &.right
      right: 0
  &.with-photos
    &.medium
      height: 552px
    &.large
      height: 702px
    &.xlarge
      height: 852px

@media (max-width: 1099px)
  #photos .photo-chevron
    font-size: 5em
    width: 40px
    padding: 0

@media screen and (min-height: 700px)
  #photos.with-photos
    height: 522px

@media screen and (min-height: 850px)
  #photos.with-photos
    height: 702px

@media screen and (min-height: 1000px)
  #photos.with-photos
    height: 852px

@media screen and (max-width: 1099px) and (min-height: 700px)
  #photos.with-photos
    height: 441.6px

@media screen and (max-width: 1099px) and (min-height: 850px)
  #photos.with-photos
    height: 561.6px

@media screen and (max-width: 1099px) and (min-height: 1000px)
  #photos.with-photos
    height: 681.6px

@media (max-width: 767px)
  #photos.with-photos
    height: 320px

@media screen and (max-width: 767px) and (min-height: 700px)
  #photos.with-photos
    height: 368px

@media screen and (max-width: 767px) and (min-height: 850px)
  #photos.with-photos
    height: 468px

@media screen and (max-width: 767px) and (min-height: 1000px)
  #photos.with-photos
    height: 568px

.with-photos + .card
  border-top: 0

/* listings
 ================================================== */

.add-new
  @media (max-width: 767px)
    padding-top: 2px

#summary
  .host-profile-image
    width: 90px
    height: 90px

.suspension-container
  .media-photo
    height: 63px

.responsive-table-container
  .card-body
    padding: 15px 20px 35px
  li:first-child
    padding: 15px 20px 10px

.movie-container
  .sample
    width: 100%
    height: 300px
    background-color: $bg2

.tour-price
  .h3
    small
      font-size: 13px

#checkin, #num-of-people
  @media (max-width: 767px)
    font-size: 16px

.tour-price-detail
  padding: 12.5px 12.5px 6.25px
  background-color: $bg1
  @media (max-width: 767px)
    padding: 12.5px 18.75px 6.25px
  .col-xs-7
    font-size: 13px
  .text-muted
    .col-xs-7
      font-size: 12px
      text-indent: 1em

.tour-price-others
  padding-top: 12.5px
  border-top: 1px solid $border1

.value_discharge
  display: inline-block

.pair_guide_list-trigger.small1
  display: inline-block
  padding-left: 12.5px
  color: $red1
  text-decoration: underline
  .fa
    font-size: 16px
    margin-right: 5px

.listing-description
  font-size: 15px

#price_amount
  padding: 6px 0

#payment-period-container
  border: 0

#per_attend
  padding: 9px 0

#neighborhood
  .location-card
    position: relative
    height: 650px
    border-top: 0

.location-container
  width: 100%
  overflow: hidden

#location
  width: 100%
  height: 200px

.listings.show
  .pair_guide_list-trigger
    padding-left: 0
  .listing-description
    ol
      padding: 0
      margin: 0
      list-style: none
      counter-reset: li
    ol > li
      position: relative
      line-height: 24px
      padding-left: 32px
      font-size: 16px
    ol > li:before
      content: counter(li) ""
      counter-increment: li
      position: absolute
      left: -2px
      width: 24px
      height: 24px
      line-height: 24px
      text-align: center
      color: white
      //font-weight: 700
      background: $brand-theme
      border-radius: 50%
    .detail-section
      margin-top: 20px
    p, ol
      margin-left: 20px
    p
      margin-bottom: 37.5px

.introduction-container
  clear: both
  padding-top: 12.5px

/* search */
.listings.search
  .map
    position: fixed
    top: 47px
    right: 0
    left: auto
    bottom: 0
    width: 100%
  .sidebar
    .filters
      left: 0
      display: none
      .card-header.show--sp
        background-color: $bg1
    .sidebar-header
      display: none
    &.filters-open
      background-color: white
      .search-results
        display: none
      .filters, .sidebar-header
        display: block
    .filters-section
      padding-top: 15px
      padding-bottom: 15px
      background-color: white
      label
        &.text-truncate
          overflow: hidden
    .checkbox
      cursor: pointer
      input
        cursor: pointer
      &.card
        padding-left: 7px
        .icon
          margin-right: 2px
    .filters-more
      transition: max-height 0.2s ease-in
      max-height: 1250px
      overflow: hidden
      &.collapse
        max-height: 0
        transition: max-height 0.2s ease-out
    @media (min-width: 768px)
      .filters-footer
        width: 60%
        position: fixed
        transform: translateZ(1px)
        bottom: 0
        background-color: #fff
        padding: 20px

  .outer-listings-container
    overflow-x: hidden

  .breadcrumbs
    float: right
    clear: right
    font-size: 14px

  .breadcrumbs,.breadcrumbs a
    color: #999

  .breadcrumb-spacer
    margin: 0 5px 0 7px
    font-size: 16px

  .results-footer
    overflow: hidden
    padding: 20px

  .results_count
    margin: 0px 0px 5px 2px

  .search-header .location,.search-header .search-button
    margin-right: 4px

  .search-header .location
    width: 240px

  @media (min-width: 768px)
    .map-search
      position: absolute
      top: 47px
      bottom: 0
      left: 0
      right: 0
    .sidebar
      position: fixed
      top: 47px
      left: 0
      bottom: 0
      width: 60%
      overflow-y: scroll
      -webkit-overflow-scrolling: touch
      background: $bg1
      .filters, .sidebar-header
        display: block
      &.filters-open
        overflow-y: hidden
    .map
      display: block
      width: 40%
      &:before
        content: ''
        position: absolute
        right: 0
        width: 2px
        height: 100%
        box-shadow: inset -1px 0 1px rgba(0,0,0,0.3)
        z-index: 2
    .filters
      position: fixed
      z-index: 11
      top: 47px
      left: 0
      right: 40%
      bottom: 0
      overflow-y: scroll
      overflow-x: hidden
      background-color: white
      &.collapse
        overflow: hidden
        position: static
        padding-bottom: 0
        .filters-section, .filters-footer
          display: none
        .filters-section.intro-filter
          display: block
    .sidebar-header-placeholder
      height: 66px
      width: 100%
      display: none
    .sidebar-header
      padding-top: 15px
      padding-bottom: 15px
      transition: opacity 0.2s, z-index 0 ease 0
      &.transparent
        z-index: 0 !important
        transition: opacity 0.2s, z-index 0 ease 0.2s
    .outer-listings-container
      padding: 0 20px

  &.stuck
    .sidebar-header
      position: fixed
      top: 47px
      right: 40%
      left: 0
      border-bottom: 1px solid $border1
      z-index: 100
    &.with-new-header .sidebar-header
      top: 61px
    .sidebar-header-placeholder
      display: block

  /* WIP */
  #ex12c
    height: 21px !important
    overflow: hidden

  footer
    display: none
    @media (max-width: 767px)
      display: block

/* manage */
.manage-listings
  height: 100%
  background-color: white

.manage-listing-row-container
  position: relative
  height: 100%
  margin: 0
  padding: 0
  zoom: 1

.manage-listing-content
  float: none
  position: relative
  min-height: 100%
  padding: 20px 20px 80px 20px
  background: $bg1
  border-right: 1px solid $border1
  border-left: 1px solid $border1
  @media (max-width: 767px)
    margin-left: 0 !important

.manage-listing-edit
  position: absolute
  top: 0
  right: 0
  @media (max-width: 767px)
    display: none
    position: fixed !important
    top: 0 !important
    left: 0
    right: 0 !important
    bottom: 0
    width: 100%
    padding: 5px 20px 25px
    background-color: white
    transition: opacity .25s
    opacity: 0
    overflow: auto
    z-index: 11
    //padding-bottom: 20px
    //border-top: 1px solid $border1
    //border-bottom: 1px solid $border1
    &.show-off
      opacity: 1
  &.pinned
    position: fixed
    top: 40px

.manage-listing-nav
  position: absolute
  top: 0
  left: 0
  background: white
  transition: left ease-out 160ms
  transform: translateZ(0)
  overflow: hidden
  z-index: 10
  &.pinned
    position: fixed
    top: 40px
  @media (max-width: 767px)
    display: none
    position: fixed !important
    top: 0 !important
    left: 0 !important
    bottom: 0
    width: 100%
    transition: opacity .25s
    opacity: 0
    &.show-off
      opacity: 1
  .nav-item
    a
      .fa
        position: absolute
        top: 11px
        right: 12px
        font-size: 20px
        &.fa-check
          color: $green1
        &.fa-exclamation-circle
          color: $red1
        &.fa-plus
          right: 14px
          color: $border1

.remove-listing-btn
  display: block
  position: fixed
  bottom: 0
  height: 64px
  line-height: 64px
  border-top: 1px solid $border1
  //border: 1px solid $red1
  @media (max-width: 767px)
    //position: fixed
    //bottom: 0
    display: none
    width: 100%
    transition: opacity .25s
    opacity: 0
    z-index: 11
    &.show-off
      opacity: 1
  > a
    color: $red1
    .fa
      font-size: 120%
    &:hover
      //color: $bran

/* manage-listing-detail
.manage-listing-detail,
.manage-listing-edit
  position: absolute
  top: 0
  right: 0
  @media (max-width: 767px)
    display: none
    position: fixed !important
    top: 0 !important
    left: 0
    right: 0 !important
    bottom: 0
    width: 100%
    padding: 5px 20px 25px
    background-color: white
    transition: opacity .25s
    opacity: 0
    overflow: auto
    z-index: 11
    //padding-bottom: 20px
    //border-top: 1px solid $border1
    //border-bottom: 1px solid $border1
    &.show-off
      opacity: 1
  &.pinned
    position: fixed
    top: 40px

/* tour-action
#tour-action
  padding-top: 12.5px
  @media (max-width: 767px)
    padding: 0
    //.temp
      display: none
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      padding: 0
      margin: 0
      background-color: white
      overflow-y: scroll
      z-index: 2001
      .card
        margin-bottom: 0

.talk_to_me-container
  @media (max-width: 767px)
    display: none

.actions
  .tag
    height: 24px
    line-height: 24px
    padding: 0 12px

/* profile */
.profiles.show
  .wishlist-unit
    height: 234px
  .carousel-control
    opacity: .25
    &:hover
      opacity: .85
    .fa
      font-size: 30px

.profile-countries
  clear: both

.nav-sections
  padding: 25px 0
  overflow-y: scroll
  overflow-x: hidden

.listings.edit, .listing_images, .confections, .tools, .dress_codes, .calendar, .listing_details
  footer
    display: none

.hide-this-listing
  display: inline-block
  margin: 20px 0 0
  color: $host-theme
  font-weight: 700
  .fa
    margin: 0 4px 3px 0
    font-size: 20px
    vertical-align: middle
  &:hover
    color: $host-theme

@media (max-width: 767px)
  .avatar-wrapper
    text-align: center
@media (min-width: 768px)
  .profile-name
    //max-width: 68px
  .avatar-wrapper
    float: right

@media (min-width: 768px) and (max-width: 1099px)
  .avatar-wrapper
    float: left

@media (min-width: 1100px)
  .listing-name
    float: right
    max-width: 100%

.published, .unpublished
  height: 37px
  line-height: 36px
  text-align: center
  color: $red1
  border: 1px solid $red1
  border-radius: 3px
  i
    margin: 0 8px 2px 0
    font-size: 18px
    vertical-align: middle

.published
  color: white
  background-color: $green1
  border: 0

/* no-listings */
.no-listings-block
  padding: 60px 0 0
  text-align: center
  .tea_cup
    width: 80px
    height: auto
  p
    margin: 20px 0 60px
    font-size: 18px
    font-weight: 700
  @media (max-width: 767px)
    min-height: 300px
    padding-top: 120px

.no-listings-map
  display: table
  width: 100%
  height: 100%
  background-color: $earth1
  text-align: center
  div
    display: table-cell
    vertical-align: middle
    .fa-map-marker
      color: $gray1
      font-size: 44px
    p
      line-height: 26px
      margin: 10px 0 0
      font-size: 16px


/* message */
.message_threads
  .nav-tabs
    border-bottom: 0
    > li
      margin-left: 10px
      > a
        border: 1px solid #ddd
        border-bottom-color: transparent
  .btn-wrapper
    .btn
      width: 120px
      margin: 0 5px
      &.btn-host
        margin: 0 10px 0 0

  a.about_cancel_link
    display: inline-block
    color: $red1
    font-size: 12px
    text-decoration: underline
    @media (max-width: 767px)
      margin: 12.5px 0 0

a.cancel_form
  display: inline-block
  color: $red1
  font-size: 12px
  text-decoration: underline
  @media (max-width: 767px)
    margin: 12.5px 0 0

/* .collapse-box
.collapse-box
  background-color: $lightblue1
  border: 1px solid $lightblue2
  border-radius: 4px
  .reservation_collapse
    display: block
    //height: 38px
    line-height: 36px
    padding: 0 15px
    font-weight: 700
    &:after
      content: '\f077'
      float: right
      font-family: 'FontAwesome'
    &.collapsed
      &:after
        content: '\f078'
    @media (max-width: 767px)
      > span, span.state-label
        display: none
      .state
        font-size: 12px

  .collapse-inner
    padding: 8px 20px
  .state-container
    display: inline-block
    margin-left: 10px
  .state-label
    margin-right: 2px
    color: $gray1
    font-weight: 400

.dashboard
  .collapse-box
    @media (max-width: 767px)
      margin-left: -20px
      margin-right: -20px

#reservation_block-form
  display: none

.user-type
  display: inline-block
  height: 22px
  line-height: 20px
  padding: 0 7px
  font-size: 12px
  font-weight: 700
  border: 1px solid
  border-radius: 2px
  vertical-align: middle
  &.user-guide
    color: $red1
    border-color: $red1
  &.user-guest
    color: $brand-theme
    border-color: $brand-theme

.reliable-sign
  display: inline-block
  height: 28px
  line-height: 28px
  padding: 0 12px
  color: white
  font-size: 13px
  background-color: $green1
  border-radius: 2px
  &.unreliable
    background-color: $red1
  .fa
    margin-right: 5px

.mini-profile
  .user-type
  .reliable-sign
    height: 22px
    line-height: 22px
    margin-left: 10px
    padding: 0 6px
    font-size: 12px
    vertical-align: middle

.guide-count
  height: 32px
  line-height: 32px
  background-color: #F5FAFF
  border-top: 1px solid #ddd
  span
    display: inline-block
    margin-left: 5px

.thread-date
  font-size: 12px

.thread-avatar
  text-align: center

.msg-pic
  padding: 0 10px 0 0

#message_inquiry
  height: 100px
  word-break: break-word

.thread-progress, .thread-label
  .tag
    min-width: 80px
    min-height: 28px
    line-height: 28px
    padding: 0 10px
    font-weight: 700

a.about_payment_link
  display: block
  margin: 0 0 20px
  color: $red1
  font-size: 12px
  text-decoration: underline

/* reservation-thread
.reservation-thread
  background-color: white
  border: 1px solid $border1
  border-radius: 3px

/* .card-body-tour-info
.card-body-tour-info
  &::before
    display: none

.reservation-thread-body
  padding: 20px 15px 1.25px

.user-container
  position: relative
  padding: 12px
  border: 1px solid $border1
  border-radius: 3px
  .h5.row-space-1
    margin-bottom: 2px
  a.send-message
    position: absolute
    top: 0
    right: 0
    width: 32px
    height: 32px
    line-height: 32px
    color: white
    text-align: center
    background-color: $brand-theme
    border-radius: 0 4px
    z-index: 1
    &:hover
      background-color: $brand-theme-hover

.user-container-empty
  background-color: $bg1
  border-style: dashed
  .media-avatar
    border: 1px dashed $border1
    background-color: transparent
    .fa-question
      width: 60px
      height: 60px
      line-height: 60px
      text-align: center
      color: $border1
      font-size: 36px
      background-color: $bg1
      border-radius: 50%

.collapse-body
  background-color: $lightblue1
  .reservation-collapse-toggle-container
    position: relative
  .reservation-collapse-toggle
    display: block
    padding: 20px
    color: $brand-theme
    cursor: pointer
    @media (max-width: 767px)
      height: 64px
    .tour-subject
      position: relative
      padding-right: 44px
      @media (max-width: 767px)
        span
          display: none
      &::after
        content: '\f077'
        display: block
        position: absolute
        top: 0
        right: 15px
        font-family: 'FontAwesome'
    &.collapsed
      .tour-subject
        &::after
          content: '\f078'
  .resrvation-tour-info
    position: absolute
    top: 10px
    left: 15px
    max-width: 60%
    @media (max-width: 767px)
      max-width: 100%
      right: 44px
  .collapse-inner
    padding: 8px 20px

.pairguide-row
  padding: 15px 25px 8.75px
  border-top: 1px solid $border1
  border-bottom: 1px solid $border1
  background-color: $bg1

.pairguide-warning
  padding: 15px
  overflow: hidden

/* .host-reservation-thread */
//.host-reservation-thread
  .user-container
    padding: 0
    border: 0

.guest-reservation-thread
  .user-container
    min-height: 100px

.thread-list
  > li:first-child
    > a, > div
      border-top: 0

.thread
  > a, > div
    display: block
    padding: 20px
    color: $gray1
    text-decoration: none
    background-color: $bg1
    border-top: 1px solid $border1
    &.unread
      color: $gray2
      background-color: white
      //.thread-author
        .thread-name
      .message-content
        font-weight: 700
        background: white
        span:after
          background: white
      &:hover
        background-color: $bg4
  .thread-author
    .thread-name
      font-weight: 400

.thread .row
  margin-left: 0
  margin-right: 0
  > a
    color: $gray1
    text-decoration: none
    outline: none

.thread .thread-avatar
  z-index: 2

.unread
  > a, > div
    color: $gray2
    background-color: white
    outline: none
    //.thread-author
      .thread-name
    .message-content
      font-weight: 700
      background: white
      span:after
        background: white
    &:hover
      background-color: $bg4
.thread-body .row
  height: 60px

.thread-progress .row
  min-height: 60px

.thread.reserve-thread
  > div
    padding: 0
    .reserve-thread-container
    .reserve-thread-inner
      padding: 20px 0 0
      @media (max-width: 767px)
        padding: 20px

.pairguide--yes, .pairguide--no
  display: inline-block
  height: 26px
  line-height: 24px
  padding: 0 8px
  color: $green1
  border: 1px solid $green1
  border-radius: 13px

.pairguide--no
  color: $red1
  border: 1px solid $red1

.btn-thread
  min-width: 80px
  height: 28px
  line-height: 26px
  padding: 0 10px
  font-weight: 400
  border-radius: 2px

.dashboard.guest_reservation_manager
  .unread
    > div
      background-color: white !important

// message-content ellipsis
$container-bg: $bg1
$font-size-base: 14px
$line-height-computed: 1.4
$lines-to-show: 2

.message-content
  background: $bg1
  overflow: hidden
  width: 100%
  span
    position: relative
    display: block
    font-size: $font-size-base
    max-height: $font-size-base * $line-height-computed * $lines-to-show
    line-height: $line-height-computed
    &:before,
    &:after
      background: $container-bg
      position: absolute
    &:before
      content: '...'
      top: $font-size-base * $line-height-computed * ($lines-to-show - 1)
      right: 0
      padding: 0 5px
    &:after
      content: ''
      height: 100%
      width: 100%

.message-content-single
  width: 100%
  font-weight: 700
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

@media (max-width: 767px)
  .thread
    > a, > div
      position: relative
  .thread-link
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    .address
      display: none
  .thread-author
    display: block
    position: absolute
    top: 15px
    left: 0
    width: 100%
    .row-table
      display: block
      width: auto
  .thread-avatar, .thread-name
    display: block
    float: left
    //width: auto
    padding-right: 0
  .thread-name
    padding-top: 4px
    font-size: 16px
  .thread-body
    padding: 24px 0 0 78px
  .thread-subject
    position: absolute
    top: 36px
    left: 83px
    width: calc(100% - 105px)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  .thread-label
    position: absolute
    top: 44px
    left: 70px
  .thread-body .row-table, .thread-progress .row-table
    display: block
  .thread-progress .row-table
    height: auto
    .col-middle
      display: block
      .tag, .btn-thread
        width: 100%
  .thread-body .row-table
    .col-middle
      display: block

  .message_threads.index, .dashboard
    .thread-body
      padding: 50px 0 0 120px
    .reply-status
      width: 100%
@media (max-width: 630px)
  .message_threads.index, .dashboard
    .thread-body
      padding: 50px 0 0 78px

/* Blackbox */
@media (max-width: 1099px) and (min-width: 768px)
  .col-switch
    margin-top: -739px

/* for-dev */
.to-edit
  position: fixed
  bottom: 20px
  right: 0

/* listing_image cursor */
.image-droppable
  display: inline-block
  cursor: row-resize
  &:hover
    .listing-image-container
      opacity: 0.7
      .delete-image
        opacity: 1
.image-drag-active
  .listing-image-container
    > div
      opacity: 0.3
.image-drag-hover
  .listing-image-container
    > div
      opacity: 0.8

.add-listing-images
  .bootstrap-filestyle
    width: 100%
    margin: 0 auto
    .btn
      display: block
      padding-top: 12px
      padding-bottom: 12px
      @media (max-width: 767px)
        font-size: 14px
  .add-listing-images-movie, .add-listing-images-image
    @media (max-width: 767px)
      padding: 0 4px
  .add-listing-images-movie
    .fa-cloud-upload
      &::before
        content: "\f1c8"
        font-family: 'fontAwesome'
        font-size: 20px
  .add-listing-images-image
    .fa-cloud-upload
      &::before
        content: "\f1c5"
        font-family: 'fontAwesome'
        font-size: 20px

.category-container
  position: relative
  height: 32px
  line-height: 32px
  padding: 0 7px 0 50px
  background-color: $bg1
  .media-avatar, .fa-question
    position: absolute
    top: -16px
    left: 5px
  .fa-question
    width: 44px
    height: 44px
    line-height: 40px
    margin: 0
    color: white
    font-size: 30px
    text-align: center
    background-color: $border1

.add-image-link
  display: block
  height: 240px
  text-align: center
  background-color: white
  border: 1px solid $border1
  &:hover
    text-decoration: none
    background-color: $bg1
  .fa-image
    display: block
    color: $border1
    font-size: 74px

.category-modal
  .modal-lg
    .modal-content
      .card-body
        img
          float: none
          width: 100%
          height: auto
          border-radius: 50%

.set_category_container
  overflow: visible

.set_category_container_title
  @media (max-width : 1000px)
    height: 20px
    font-size: 0.7em

.listing_image_selected
  display: block
  position: relative
  .fa-check
    display: block
    position: absolute
    top: -4px
    right: -4px
    width: 32px
    height: 32px
    line-height: 28px
    color: white
    font-size: 18px
    text-align: center
    background-color: $green1
    border: 2px solid white
    border-radius: 50%

.profile-category-container
  .select_category_link
    display: block
    overflow: visible
  .listing_image_selected
    img.media-round
      border: 5px solid $green1
    .fa-check
      top: -3px
      right: -3px
      line-height: 32px
      border: 0

.profile-category-keyword-container
  > div
    position: relative
    min-height: 62px
    padding: 20px 10px 10px 70px
    margin-top: 12.5px
    border-top: 1px dashed $border3
    &:first-child
      border-top: 0
      margin-top: 0
    > img
      position: absolute
      top: 10px
      left: 0
      width: 50px
      height: 50px
      border-radius: 50%
    @media (max-width: 767px)
      min-height: 42px
      padding: 14px 0 0 40px
      > img
        top: 14px
        left: 0
        width: 32px
        height: 32px
      .bootstrap-tagsinput
        overflow: hidden

/* tag cloud */
.css1
  font-size: 1.0em
.css2
  font-size: 1.2em
.css3
  font-size: 1.4em
.css4
  font-size: 1.6em

/* features
  ================================================================================ */

.img-bg
  position: relative
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
.img-bg-content
  position: relative
  z-index: 1
.img-bg-overlay
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #000
    transition: opacity .2s ease-in-out
    opacity: .5
    z-index: 0

#features
  background-color: white

.features-header
  .img-bg
    background-image: image-url('feature/bg_header.jpg')
  .va-container
    height: 755px
    @media (max-width: 1099px)
      height: 655px
    @media (max-width: 767px)
      height: 249px

.features-header-inner
  display: inline-block
  height: 384px
  padding: 110px 20px 0 430px
  background-image: image-url('feature/circle_header.png')
  background-repeat: no-repeat
  background-position: 10px center
  background-size: 392px auto
  h1
    img
      width: 100%
      max-width: 686px
  h2
    line-height: 41px
  @media (max-width: 1099px)
    height: 304px
    padding: 70px 20px 0 304px
    background-size: 280px auto
    h1
      img
        max-width: 486px
    h2
      font-size: 24px
      line-height: 36px
  @media (max-width: 767px)
    height: auto
    background: none
    padding: 0
    text-align: center
    h1
      img
        width: 80%
    h2
      margin: 15px 0 0
      font-size: 15px
      line-height: 20px

.features-intro
  @media (max-width: 767px)
    .row
      margin-top: 0
      margin-bottom: 0
    h2
      margin-bottom: 30px
      font-size: 18px

.features-tile-list

.features-tile
  float: left
  width: 33.33%
  .img-bg
    display: block
    .img-bg-content
      height: 250px
    &:hover
      color: white
  .img-bg-overlay
    &:after
      opacity: .2
    &:hover
      color: white
      &:after
        opacity: .05
  &#tile01
    .img-bg
      background-image: image-url('feature/bg_section001.jpg')
  &#tile02
    .img-bg
      background-image: image-url('feature/bg_section002.jpg')
  &#tile03
    .img-bg
      background-image: image-url('feature/bg_section003.jpg')
  &#tile04
    .img-bg
      background-image: image-url('feature/bg_section004.jpg')
  &#tile05
    .img-bg
      background-image: image-url('feature/bg_section005.jpg')
  &#tile06
    .img-bg
      background-image: image-url('feature/bg_section006.jpg')
  &#tile07
    .img-bg
      background-image: image-url('feature/bg_section007.jpg')
  &#tile08
    .img-bg
      background-image: image-url('feature/bg_section008.jpg')
  &#tile09
    .img-bg
      background-image: image-url('feature/bg_section009.jpg')
  @media (max-width: 767px)
    float: none
    width: 100%
    .img-bg
      .img-bg-content
        height: 168px

.tile-title
  position: absolute
  left: 35px
  bottom: 35px
  text-shadow: 0 2px 4px rgba(0, 0, 0, .36)
  .num
    line-height: 60px
    font-size: 60px
  .text
    font-size: 24px
  @media (max-width: 767px)
    left: 20px
    bottom: 20px
    .num
      line-height: 45px
      font-size: 45px
    .text
      font-size: 17px

.tile-arrow
  position: absolute
  right: 20px
  bottom: 25px
  width: 20px
  height: 20px
  line-height: 18px
  font-size: 17px
  text-align: center
  border: 1px solid white
  border-radius: 50%

.features-tile
  //padding: 0 20px 20px
  .btn-close-circle
    margin: -30px 0 35px
    width: 44px
    height: 44px
    padding-top: 20px
    span
      width: 28px
      height: 3px

.features-section
  .va-container
    height: 566px
    @media (max-width: 1099px)
      height: 466px
  @media (max-width: 767px)
    //display: none

.section-title
  display: inline-block
  text-shadow: 0 2px 4px rgba(0, 0, 0, .5)
  .num
    line-height: 100px
    font-size: 100px
  .text
    font-size: 60px
  @media (max-width: 1099px)
    .num
      line-height: 80px
      font-size: 80px
    .text
      font-size: 44px

.section-content

.fore-text, .main-text
  line-height: 39px
  font-size: 20px
  @media (max-width: 767px)
    line-height: 28px
    margin: 20px 0
    font-size: 14px

#features-section01
  .img-bg
    background-image: image-url('feature/bg_section001.jpg')

#features-section02
  .img-bg
    background-image: image-url('feature/bg_section002.jpg')

#features-section03
  .img-bg
    background-image: image-url('feature/bg_section003.jpg')

#features-section04
  .img-bg
    background-image: image-url('feature/bg_section004.jpg')

#features-section05
  .img-bg
    background-image: image-url('feature/bg_section005.jpg')

#features-section06
  .img-bg
    background-image: image-url('feature/bg_section006.jpg')

#features-section07
  .img-bg
    background-image: image-url('feature/bg_section007.jpg')

#features-section08
  .img-bg
    background-image: image-url('feature/bg_section008.jpg')

#features-section09
  .img-bg
    background-image: image-url('feature/bg_section009.jpg')

h3.center-lined
  line-height: 39px
  font-size: 38px
  text-align: center
  &:before
    content: ''
    position: absolute
    top: 20px
    left: 0
    right: 0
    width: 100%
    height: 1px
    background-color:  $gray1
    z-index: 0
    @media (max-width: 767px)
      left: 20px
      right: 20px
      width: auto
  &.text-primary
    &:before
      background-color:  $brand-theme
  span
    position: relative
    display: inline-block
    padding: 0 10px
    background-color: white
    z-index: 1
  @media (max-width: 767px)
    margin-bottom: 0
    font-size: 15px

#access-section
  .page-container
    .row:first-child
      @media (max-width: 767px)
        margin: 20px 0 0

.tour-listing-empty
  height: 358px
  line-height: 358px
  font-size: 32px
  background-color: $bg5
  &:after
    content: 'Coming Soon...'


/* lp01
   ================================================================================ */

.lp01
  .hero
    height: 730px
    background-image: image-url('lp01/bg_static_image.png')
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: center
    @media (max-width: 1699px)
      height: 680px
    @media (max-width: 1599px)
      height: 620px
    @media (max-width: 1499px)
      height: 560px
    @media (max-width: 1299px)
      height: 520px
    @media (max-width: 1199px)
      height: 460px
    @media (max-width: 1099px)
      height: 400px
    @media (max-width: 999px)
      height: 360px
    @media (max-width: 899px)
      height: 340px
    @media (max-width: 767px)
      background-size: 140% auto
    @media (max-width: 640px)
      height: 300px
    @media (max-width: 540px)
      height: 270px
      background-size: 150% auto
    @media (max-width: 420px)
      height: 240px
    @media (max-width: 370px)
      height: 210px
    @media (max-width: 320px)
      height: 180px

  .cheer
    display: inline-block
    position: relative
    padding: 0 30px
    white-space: nowrap
    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: -3px
      bottom: 0
    &:before
      left: 0
      border-left: 4px solid $lp01-theme
      transform: rotate(-25deg)
    &:after
      right: 0
      border-right: 4px solid $lp01-theme
      transform: rotate(25deg)

  .text-lp01
    color: $lp01-theme

  .tour-listing-empty
    height: 358px
    line-height: 358px
    font-size: 32px
    background-color: $bg5
    &:after
      content: 'Coming Soon...'

  h1
    padding-top: 20px
    .spr
      font-size: 28px
    .cheer
      font-size: 84px
      text-shadow: 0 0 2px 2px white
    @media (max-width: 767px)
      padding-top: 12px
      .spr
        font-size: 16px
      .cheer
        font-size: 50px
    @media (max-width: 640px)
      .cheer
        margin-top: -5px
        font-size: 40px
  h2.belt
    margin: 0
    padding: 25px 0 30px
    text-shadow: 2px 2px 0 $brand-theme
    background-color: $skyblue
    @media (max-width: 767px)
      padding: 15px 0 20px
      .h1.spb
        font-size: 16px
  h2
    .h1
      font-size: 26px
    .cheer
      font-size: 50px
      @media (max-width: 767px)
        font-size: 32px
  .text-lg
    font-size: 20px
  .section
    padding: 70px 0
    @media (max-width: 767px)
      padding: 35px 0
  .recomended-guides
    background-color: white
  .guide
    position: relative
    overflow: hidden
    .img-responsive
      max-width: 220px
      margin: 0 auto
    .name
      font-size: 20px
    .introduce
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      padding: 10px
      background-color: rgba(0, 0, 0, .75)
      transition: transform .3s ease-in-out, opacity .3s ease-in-out
      transform: translateY(100%)
      opacity: 0
      p
        color: white
        font-size: 16px
        text-align: center
      a
        position: absolute
        right: 10px
        bottom: 10px
        color: white
        border-bottom: 2px solid white
        &:hover
          text-decoration: none
          border-bottom-color: $lp01-theme
    &:hover
      .introduce
        transform: translateY(0)
        opacity: 1
  .btn-tlk2me
    display: inline-block
    height: 30px
    line-height: 30px
    padding: 0 20px
    font-size: 22px
    background-color: $brand-theme
    border: 0
    &:hover
      color: white
      text-decoration: none
      background-color: $brand-theme-hover
  .howto
    padding-bottom: 0
    background-color: $bg6
  .howto-inner
    position: relative
    padding: 80px 40px
    border: 4px solid $lp01-theme
    border-radius: 4px
    .img-responsive
      max-width: 230px
      margin: 0 auto
    &:after
      content: ''
      display: block
      position: absolute
      top: 6px
      left: 6px
      right: 6px
      bottom: 6px
      border: 2px solid $lp01-theme
      border-radius: 4px
      z-index: 0
    .h3.square
      clear: both
      position: relative
      margin-bottom: -128px
      z-index: 1
      span
        display: inline-block
        padding: 10px 50px
        font-size: 70px
        white-space: nowrap
        background-color: $lp01-theme
      @media (max-width: 767px)
        margin-bottom: -108px
        span
          padding: 10px 30px
          font-size: 35px
  h4.thick-lined
    font-size: 26px
    font-weight: 400
    margin-top: 100px
    margin-bottom: 100px
    > span
      position: relative
      display: inline-block
      padding: 0 10px
      &:before
        content: ''
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 10px
        background-color: $skyblue2
        z-index: 0
        @media (max-width: 1099px)
          display: none
      span
        display: inline-block
        position: relative
        z-index: 1
    @media (max-width: 767px)
      font-size: 22px
      line-height: 1.8
      margin-top: 60px
      margin-bottom: 80px
  .additinal
    position: relative
    padding: 50px 0
    background-color: $skyblue3
    .bg-arrow
      width: 161px
      height: 127px
      line-height: 127px
      margin: -100px auto 30px
      font-size: 52px
      background-image: image-url('lp01/ugly-arrow.png')
      background-repeat: no-repeat
      background-position: 0 0
    h4
      font-size: 40px
      font-weight: 400
      @media (max-width: 767px)
        line-height: 1.8
        padding: 0 20px
        font-size: 24px

  .popular-tours
    padding-bottom: 20px
  .guest-book
    border-top: 1px solid $border1
  .card-book
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
    .card-body
      position: relative
      &:before
        content: ''
        position: absolute
        top: -20px
        border-left: 20px solid transparent
        border-right: 20px solid transparent
        border-bottom: 20px solid white
        z-index: 10
    .card-inner
      position: relative
      height: 330px
      padding: 50px 20px 30px
      @media (max-width: 767px)
        height: auto
      &:before, &:after
        display: block
        position: absolute
        color: $gray3
        font-size: 30px
        font-family: 'fontAwesome'
      &:before
        content: '\f10d'
        top: 0px
        left: 0px
      &:after
        content: '\f10e'
        bottom: 0px
        right: 0px
    q
      quotes: none
      line-height: 2
      font-size: 18px
    p
      font-size: 18px
  .book
    height: 300px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
  .book1
    background-image: image-url('lp01/review-photo001.jpg')
  .book2
    background-image: image-url('lp01/review-photo002.jpg')
  .please-visit
    background-color: white
    .btn
      width: 100%
      max-width: 700px
      margin: 0 auto
      padding: 20px
      img
        max-width: 340px
        margin: 0 auto
  .moreguide-container
    display: none
    @media (max-width: 767px)
      display: block

  .hide-guest
    @media (max-width: 767px)
      display: none
