.profiles.edit .profile-progress-container
	@extend .page-container
.profile-progress-container
	position: relative
	margin-top: 25px
	background: #F5FAFF none repeat scroll 0% 0%
	font-size: 13px
	padding: 0px 20px
	height: 40px
	color: $gray1
	line-height: 40px
	border-radius: 4px
	@media (max-width: 767px)
		height: 60px
	.percent
		color: $brand-theme
		font-size: 16px
		font-weight: 600
		margin-left: 6px
	.progress-holder
		position: absolute
		right: 20px
		top: 17px
		background: $lightgray1 none repeat scroll 0% 0%
		width: 410px
		height: 6px
		border-radius: 4px
		@media (max-width: 767px)
			position: relative
			width: 90%
			margin: 0 5%
			right: 0
			top: 0
		.progress-bar
			border-radius: 4px
			background: $brand-theme
			box-shadow: 0px 0px 0px 0px
.inputrate
	display: inline-block
	height: 28px
	line-height: 28px
	padding: 0 12px
	color: white
	font-size: 13px
	border-radius: 2px
.inputrate-red
	background-color: $red1
.inputrate-orange
	background-color: $orange1
.inputrate-yellow
	background-color: $yellow2
.inputrate-lightgreen
	background-color: $lightgreen1
.inputrate-green
	background-color: $green1
#preview-attached
	padding-right: 0 !important
	.modal-cell
		padding: 0
	.modal-content
		max-width: 940px
		.card-body
			text-align: center
			width: 100%
			height: 500px
			padding: 0
			background-size: cover
			background-repeat: no-repeat
			background-position: top center
			.modal-close
				margin-right: 0