.inputrate
	display: inline-block
	height: 28px
	line-height: 28px
	padding: 0 12px
	color: white
	font-size: 13px
	border-radius: 2px
.inputrate-red
	background-color: $red1
.inputrate-orange
	background-color: $orange1
.inputrate-yellow
	background-color: $yellow3
.inputrate-lightgreen
	background-color: $green1
.inputrate-green
	background-color: $green3
#preview-attached
	padding-right: 0 !important
	.modal-cell
		padding: 0
	.modal-content
		max-width: 940px
		.card-body
			width: 100%
			height: 500px
			padding: 10px
			.card-inner
				width: 100%
				height: 100%
				background-size: contain
				background-repeat: no-repeat
				background-position: center
			.modal-close
				margin-right: 0
#calendar
	.fc-view
		overflow-y: hidden
	thead.fc-head th.fc-day-header
		color: $brand-theme
		text-decoration: underline
		cursor: pointer
	.fc-title
		display: none
	.fc-event-container
		height: 100%
		.fa
			text-align: center
			font-size: 1.2em
		a
			border-radius: 0
			background-color: transparent !important
			border: none
	.fc-content-skeleton tr
		position: relative
		//bottom: 5px
	.fc-content-skeleton tbody tr:nth-child(2)
		display: none
	.fc-event-container-custom
		background-color: gray !important
	.fc-event
		&:before
			position: relative
			@media (max-height: 750px)
				top: -5px
			@media (max-height: 700px)
				top: -8px
			@media (max-height: 650px)
				top: -10px
	.smd-td
		color: white !important
		background-color: gray !important
		opacity: 1 !important
	.fc-highlight
		background: #bce8f1
		opacity: .3
		filter: alpha(opacity=30)
.youtube-container
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: hidden
	img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	i
		position: relative
		top: 40%
		left: 45%
		opacity: 0.9
		color: white
		font-size: 100px
		&:hover
			opacity: 0.7
.listings.show .pair_guide_list-trigger
	padding-left: 0
.listings.show .listing-description
	ol
		padding: 0
		margin: 0
		list-style: none
		counter-reset: li
	ol > li
		position: relative
		margin-bottom: .5em
		padding-left: 2.5em
	ol > li:before
		content: counter(li) ""
		counter-increment: li
		position: absolute
		left: 0
		width: 1.5em
		height: 1.5em
		background: $yellow2
		border-radius: 50px
		line-height: 1.5
		text-align: center
.listings.show .listing-description .detail-section
	margin-top: 20px
.listings.show .listing-description p,
.listings.show .listing-description ol
	margin-left: 20px
.discovery-tiles .other-pickup-links
	margin-top: 20px
.profile_keywords .bootstrap-tagsinput
	width: 100%
@media (max-width: 1099px) and (min-width: 768px)
	.col-switch-pickup
		margin-top: -690px
