/* variables.sass */

$brand-theme: #17AEDF !default
$brand-theme-hover: #1EC6FC

$bg1: #eef1f4
$bg2: rgb(40, 40, 40)
$bg3: rgb(65, 65, 65)
$bg4: #eef1f4

$border1: rgb(213, 218, 222)
$border2: rgb(233, 238, 242)

$gray1: rgb(102, 102, 102)
$gray2: rgb(69, 69, 69)
$lightgray1: rgb(204, 204, 204)
$lightgray2: rgb(187, 187, 187)

$red1: rgb(255, 90, 95)

$blue1: rgb(100, 149, 237)

$brown1: rgb(188, 143, 143)

$green1: rgb(139, 208, 92)
$green2: rgb(22, 66, 0)

$yellow1: #ffb400

$earth1: rgb(231, 230, 228)

$host-theme: #FA8B9F
$host-theme-hover: #FFA8B8

$guest-theme: #f39c12
$guest-theme-hover: #f39c12
