| おめでとうございます！
br
| #{user_obj_to_name(@user)} さんのアカウントで、「メインガイド」ができるようになりました。
br
br
| このメールでは、ツアー作成の案内と注意をお送りいたします。
br
br
|＝＝＝＝＝＝メインガイドをしよう！＝＝＝＝＝＝
br
br
| 1.ツアーを作成しましょう
br
| メニューに追加された「Tour Page」から、ツアーの作成ができます。
br
| Q&Aに載っているコツを参考に、企画を立てましょう！　
br
| [ツアーづくりのQ&A]
br
| https://huber-japan.com/ja/help_topics/for_guide
br
br
|※サポートガイドの経験がない方は、下記情報のご登録をお願いします。
br
| -Profileメニュー内「Introduction」から、自己紹介を登録してください。
br
| -Accountメニュー内「Bank Details」から、銀行情報を登録してください。
br
| -追加メニュー「Friends」から、ガイド仲間を登録してください。
br
br
| 2.ゲストを迎えましょう。
br
| ゲストからツアーの予約やメッセージが入ると、新規メッセージのお知らせが届きます。
br
| ツアーの内容が確定したら、サポートガイドを決めて当日の準備を整えましょう。
br
br
| 3.TOMODACHI GUIDE体験をシェアしましょう
br
| ガイド当日の様子を、FacebookのHuber.ガイドコミュニティやSNSでシェアしてください。
br
| TOMODACHI GUIDEの素晴らしさを、世界中のゲストやガイド仲間に伝えましょう。
br
br
| [Huber.ガイドコミュニティ]
br
| https://www.facebook.com/groups/1690024254610438/1739386303007566/?
br
| ※「グループに参加」を押して承認をお待ちください。
br
br
| [Huber.公式Facebook]
br
| https://www.facebook.com/HuberInc-1579765458969603/?fref=ts
br
| ハッシュタグ「#TOMODACHIGUIDE」
br
| ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
br
br
| その他ご不明点については、以下メールアドレスにご連絡ください。
br
| [Huber.運営スタッフ]
br
| guide_support@m.huber.co.jp
br
| ※本メールへ返信頂いても確認できませんのでご注意ください。
br
br
| #{user_obj_to_name(@user)} さんの、素敵なTOMODACHI GUIDEを楽しみにしています。
br
br
| -Huber.
br
| https://huber-japan.com/