| #{user_obj_to_name(@user)} さんのアカウントで、「サポートガイド」ができるようになりました。
br
| このメールでは、ガイドになるための案内と注意をお送りいたします。
br
br
| ＝＝＝＝＝＝サポートガイドをしよう！＝＝＝＝＝＝
br
br
| 1.「Introduction」を入力しましょう
br
|  Profileメニューに、「Introduction」が追加されました。
br
|  #{user_obj_to_name(@user)} さんの得意なことや好きなものなど、ガイドとしての魅力をアピールしましょう！
br
br
|  入力はこちらから
br
|  #{self_introduction_profile_url(@profile)}
br
br
br
| 2.「Bank Details」を登録しましょう
br
|  Accountメニューに、「Bank Details」が追加されました。
br
|  ガイド収入の振込先となる銀行口座を登録してください。
br
br
|  登録はこちらから
br
|  #{new_profile_profile_bank_url(@profile)}
br
br
|  ※銀行名、支店名の入力間違いが多発しています。誤った情報登録は、入金の遅れに繋がります。必ず正確にご入力ください。
br
br
br
| 3.ガイド仲間を増やしましょう
br
|  「サポートガイド」は、メインガイドからのオファーを受けて、一緒にゲストを案内します。
br
|  まずはガイド仲間を増やして、メインガイドからのオファーを待ちましょう。
br
br
|  ペアガイドの理由など、詳しくはガイド専用のQAをご覧ください
br
|  https://huber-japan.com/ja/help_topics/for_user
br
br
br　
|  ★ガイド仲間追加の方法★
br
|  メニューに追加された「Friends」から、ガイド仲間の追加と検索ができます。
br
|  「その他」から気になるガイドの名前を検索して、仲間申請メッセージを送りましょう。
br
br
|  ガイド仲間の追加はこちらから
br
|  #{list_search_friends_url}
br
br
br
|  ★ガイドコミュニティに参加しよう★
br
|  FacebookのHuber.ガイドコミュニティでは、実際のツアーの様子やノウハウなどが紹介されています。
br
|  是非ご参加ください。
br
br
|  [Huber.ガイドコミュニティ]
br
|  https://www.facebook.com/groups/1690024254610438/1739386303007566/?
br
|  ※「グループに参加」を押して承認をお待ちください。
br
br
| ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
br
br
| なお、ツアーの企画をし「メインガイド」としてゲストを案内できるようになるには、まず「サポートガイド」を経験して頂く必要がございます。
br
| Huber.運営スタッフが一定条件を満たしたと判断した方に「メインガイド」ランクアップのご案内をお送りいたしております。
br
br
| その他ご不明点については、以下メールアドレスにご連絡ください。
br
| [Huber.運営スタッフ]
br
| guide_support@m.huber.co.jp
br
| ※本メールへ返信頂いても確認できませんのでご注意ください。
br
br
| #{user_obj_to_name(@user)} さんの、素敵なTOMODACHI GUIDEを楽しみにしています。
br
br
| -Huber.
br
| https://huber-japan.com/