|Hello!
br
|Mr./Ms. = #{@resource.email}
br
br
|You are requiered to change your password for your account.  Please click the following link.
br
br
= link_to 'Changing password', edit_password_url(@resource, reset_password_token: @token)
br
br
|Please ignore if you receive this e-mail in error.
br
br
|If you do not change your password from the link above, you passoword will not be changed.