|Hello!
br
|Mr/Ms. = #{@resource.email}
br
br
|Your account has been locked because you have failed to log in too many times.
br
br
|Please reactivate your account from the following link.
br
br
= link_to ' Unlock', unlock_url(@resource, unlock_token: @token)